@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

.heading {
    text-align: center;
    font-size: 300%;
    font-family: Carter One, arial, sans serif;

}

.logo {
    height: 250px;
    margin-left: 33%;
    margin-right: 33%;
}
