@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');


body {
   background: rgb(17, 184, 175);
}

.heading {

    text-align: center;
    font-size: 200%;
    font-family: Carter One, arial, sans serif;
    font

}

.logo {
    height: 200px;
    margin-left: 33%;
    margin-right: 33%;
}

.name {
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    margin-bottom: 3%;
}
.game-area {
    
    
    margin: 10%;
    border: 10px double red;
   
}



#lastCard {
    margin-left: 10%;
    margin-right: 10%;
    min-width: 15%;
    height: 300px;
    background: url(https://blog.betvictor.com/campaigns/the-art-of-playing-cards/assets/img/og_card_5@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-table;

}

#nextCard {
   
    margin-left: 10%;
    margin-right: 10%;
    width: 15%;
    height: 300px;
    background: url(https://blog.betvictor.com/campaigns/the-art-of-playing-cards/assets/img/og_card_5@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-table;

}

.btn {
    
    padding: 2%;
    margin-left: 35%;
}